<form ng-submit="submit()" class="form-signin" name="register" novalidate>
  <h3 class="form-signin-heading text-muted">Sign In</h3>

  <input type="email" ng-model="email" name="emailName" class="form-control" placeholder="Email address" required autofocus="">
  <p class="help-block" ng-show="register.emailName.$dirty && register.emailName.$invalid">Please enter a proper email.</p>
  <input name="password" type="password" ng-model="password" class="form-control" placeholder="Password" required>
  <input name="password_confirm" type="password" ng-model="password_confirm" class="form-control" placeholder="" validate-equals="password">
    <p class="help-block" ng-show='register.password_confirm.$dirty && register.password_confirm.$invalid'>please check your password</p>
  <button ng-disabled="register.$invalid" class="btn btn-lg btn-primary btn-block" type="submit">
    Register
  </button>
</form>